html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: FreeSans;
  src: url("/assets/fonts/FreeSans.ttf");
}

@font-face {
  font-family: FreeSansBold;
  src: url("/assets/fonts/FreeSansBold.ttf");
}

@font-face {
  font-family: FreeSansBoldOblique;
  src: url("/assets/fonts/FreeSansBoldOblique.ttf");
}

@font-face {
  font-family: FreeSansOblique;
  src: url("/assets/fonts/FreeSansOblique.ttf");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.lightTheme {
  background: #ffffff;
  display: flex;
}
.darkTheme {
  background: #3339cd;
  display: flex;
}

.freesansbold {
  font-family: FreeSansBold;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.p-5 {
  padding: 5px;
}
.plus {
  border: 1px solid #efeef1;
  border-radius: 5px;
  padding: 1px 3px;
}

.padding10 {
  padding: 10px 0 10px 10px;
}

.div1 {
  align-items: center;
  gap: 10px;
}

.gap-5 {
  gap: 5px;
}

.violet {
  background: #676ad8 !important;
  border: 1px solid #8d8ef9 !important;
  border-radius: 10px !important;
}

.fs-20 {
  font-size: 20px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.icondark {
  color: #4b50ba;
}

.iconlight {
  color: #ffffff;
}

.checkboxstyle {
  width: 15px;
  height: 15px;
}

.iconwhite {
  color: white;
}

.transition1 {
  position: relative;
  animation: accordion 1s;
}

@keyframe accordion {
  from {
    top: -100px;
    height: 0;
  }
  to {
    top: 100px;
    height: 100%;
  }
}
